body{
    background-color: rgb(244, 244, 244);
    width: fit-content;
    background-size: cover;
    right: 0;
}

nav{
    background: rgb(65, 65, 255);
    display: inline-flex;
    width: 214vh;
    margin: -8px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    max-width: 300vh;
    min-width: none;
}

.sblogo{
    width: 25vh;
    margin-left: 10vh;
    margin-right: 40px;
}

#nav-left{
    display: flex;
    align-items: center;
    margin-right: 200px;
}

#nav-left ul li{
    list-style-type: none;
    display: inline-flex;
}

#nav-left ul li img{
    display: inline-flex;
    width: 28px;
    margin: 0 15px;
    cursor: pointer;
    padding: 1.8px;
}

#nav-left ul li img:hover{
    transform: scale(1.05,1.05);
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
}



.nav-right{
    display: inline-flex;
    align-items: center;
    
}

.nav-user-icon{
    margin-right: 20px;
    margin-left: 20px;
}

.nav-user-icon img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box img{
    width: 20px;
    padding-bottom: 14px;
}

.searchicon{
    display: inline-flex;
    
    height: 30px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    
}

.searchicon img{
    margin-top: 10px;
    padding-left: 15px;
}

.search-box{
    background: rgb(66, 65, 65);
    border-radius: 20px;
    height: 52px;
    width: 280px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
}

.search-box input{
    background-color: rgb(66, 65, 65);
    border-radius: 20px;
    height: 32px;
    width: 220px;
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;

    
}
.search-box  input::placeholder{
    font-style: italic;
    align-items: center;
    justify-content: left;
}

.search-box input:focus::placeholder{
    color: white;
    transition: 0.5ms;
}



nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}

.left-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: fit-content;
    margin-left: -84px;
    margin-top: -8px;
    width: fit-content;
    padding-bottom: 25px;
    margin-bottom: -20px;
    bottom: 0;
    
}

.right-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-bottom: -20px;
}

.main-content{
    flex-basis: 47%;
    background-color:rgb(213, 213, 213);
    margin-bottom: -20px;
    position: sticky;
    margin-top: -8px;
    padding-left: 124px;
    padding-right: 124px;
    width: fit-content;
}

.imp-links{
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 40px;
    border-bottom: 1px solid black;
   
}



.imp-links a{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #626262;
    width: fit-content;
    padding-top: 30px;
    padding-right: 60px;
}
.imp-links a:hover{
    color: black;
    transform: scale(1.02,1.02);
    transition: 0.5s;
}

.imp-links a:focus{
    color: black;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
    
}

.shortcuts a img{
    border-radius: 50%;
    width: 45px;
    margin-right: 15px;
    padding-left: 10px;
    
}

.shortcuts{
    padding-top: -20px;
    padding-left: 30px;
    align-items: center;


}

.shortcuts a{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #626262;
    width: fit-content;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.shortcuts a:hover{
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.shortcuts a:focus{
    background-color: white;
    border-radius: 10px;
    color: black;
}

.status{
    display: inline-flex;
}

.status img{
    width: 50px;
}

.status a{
    text-decoration: none;
    color: black;
}



::-webkit-scrollbar{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: rgb(118, 118, 118);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(58, 58, 58);
}